.hero-section{
    height: 100vh;
    width: 100%;
    
}

.hero-section::before {    
    content: "";
    background-image: url("../../assets/hero/hero-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: -1;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.hero-container{
    height: 100vh;
    width: 50%;
    margin: 0 auto;
    padding: 0 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
}

.hero-title{
    font-size: 7rem;
    line-height: 1;
}

@media screen and (max-width:450px){
    .hero-container{
        padding: 0 1rem !important;
    }

}


@media screen and (max-width:800px){
    .hero-section::before{
        opacity: 0.2;
        background-image: url("../../assets/hero/hero-second-bg.jpg");
        background-position: left;
    }

    .hero-container{
        width: 80% !important;
    }

    .hero-title{
        font-size: 5rem;
    }
}

/*services banner*/
.services-container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.services-container::before{
    content: "";
    background-image: url("../../assets/services/brush-bg.jpg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    z-index: -1;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.2;
}

.services-text{
    padding: 0 4rem;
    width: 40%;
    margin: auto;
}


.services-types{

    --gap:2rem;
    --line-offset: calc(var(--gap) /2);

    width: 60%;
    background-image: url("../../assets/services/haircut-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    justify-content: center;
    align-items: stretch;
    gap: var(--gap);
    overflow: hidden;
}

.services-types > .service{
    position: relative;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 3rem;
    margin: 1rem;
}

.service > h3{
    color: #fff;
    margin-top: 2rem;
    font-size: 1.5rem;
}

.service > p{
    font-size: 1.3rem;
}

.services-types > .service::after,
.services-types > .service::before{
    content: "";
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
}

.services-types > .service::after{
    width: 100vw;
    height: 1px;
    top:  calc(var(--line-offset) * -1);
    left: 0;
}

.services-types > .service::before{
    width: 1px;
    height: 100vh;
    top: 0;
    left: calc(var(--line-offset) * -1);
}


@media screen and (max-width:1100px){
    .services-container{
        flex-direction: column;
        gap: 3rem;
    }
    .services-text{
        width: 80%;
        text-align: center;
    }
    .services-text > h2{
        padding-top: 4rem !important;
    }
    .services-types{
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)) !important;
        width: 100% !important;
    }

}

@media screen and (max-width:450px){
    .service{
        padding: 3rem 0 !important;
        margin: 0 !important;
    }
    .service > p{
        width: 80%;
    }
    .services-types > .service::after{
        width: 100% !important;
    }
}


/* testimonies banner */
.testimony-banner{
    padding: 4rem 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.testimony-intro{
    width: 60%;
    margin: auto;
}

.testimony-carousel{
    width: 90%;
    margin: auto;
    display: inline-flex;
    flex-wrap: nowrap;
}

.slide{
    width: 100%;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.slide-arrow{
    font-size: 2.5rem;
    color: rgba(135, 134, 134, 0.4);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.slide-arrow:hover{
    color: rgb(60, 60, 60);
}

.review-item{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.review-item img{
    border-radius: 50%;
    margin-bottom: 4rem;
}

.review-item > h3{
    font-size: 2.4rem;
}

.review-item > p {
    font-size: 1.4rem;
}

.social-links{
    padding: 0;
    margin-top: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

@keyframes fadeIn{
    0% {opacity: 0;}
    100%{opacity: 1;}
}

.review-animation{
    animation: fadeIn 3s;
}


@media screen and (max-width:600px){
    .testimony-intro{
        width: 95% !important;
    }
    .testimony-carousel{
        width: 100% !important;
    }
    .review-item{
        width: 80% !important;
    }
    .review-item > p {
        font-size: 1.2rem;
    }
}

/*barber banner*/
.barber-banner{
    text-align: center;
    padding: 7rem 3rem;
    background-image: url("../../assets/barbers/barber-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.barber-intro{
}

.barber-intro > h2{
    color: #fff;
    font-weight: 400;
    letter-spacing: 1rem;
}

.barber-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
    padding: 4rem 0;
}

.barber{
    width: min-content;
    background-color: #fff;
}

.barber img{
    width: auto;
    height: 310px;
}

.barber-info{
    padding: 2rem;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.barber-info > h3{
    font-size: 1.8rem;
}

.barber-info p{
    font-size: 1.2rem;
}

@media screen and (max-width:450px){
    .barber-banner{
        padding: 7rem 1rem;
    }
    .barber img{
        height: 250px !important;
    }

}