html{
  margin: 0;
  font-size: 65%;
}

body{
  font-family: "Roboto Mono", "Courier New", monospace;
  line-height: 1.75;
  color: #999;
}

h1,h2,h3,h4,h5,h6{
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Arvo", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #000;
}

ul li{
  list-style: none;
  color: #242423;
  font-family: "Arvo", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: .1em;
}

ul li:hover{
  cursor: pointer;
  text-decoration: underline;
}

.gray-blue-bg{
  background-color: #f5f8f9;
}

.bottom-shadow{
  box-shadow: 0 5px 3px -3px #ccc;
  background-color: #fff;
  padding: 2rem;
}

.green-btn{
  font-family: "Arvo", Helvetica, Arial, sans-serif;
  border-radius: 35px;
  color: #fff;
  background-color: #014d55;
  border: 2px solid #014d55;
  padding: 13px 43px;
  font-size: 1.3rem;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
}

.green-btn:hover{
  background-color: #000;
}

h2{
  font-size: 4.5rem;
}

p{
  font-size: 1.5rem;
}

/* Navbar */
nav{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 200;
}
.nav-container{
  margin: 0;
}

.nav-links{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
}

.logo-img{
  height: 110px;
}

.mobile-nav{
  display: none;
}

.show-mobile-nav{
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: #fff;
}

.hide-mobile-nav{
  display: none;
}

.mobile-flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  margin: 0;
}

.mobile-logo{
  width: 200px;
}

.bar-icon{
  width: 40px;
}

.close-icon{
  display: flex;
  justify-content: end;
  padding: 2rem;
}

.close-icon img{
  width: 40px;
  height: 40px;
  transition: all  .7s ease-in-out
}

.close-icon img:hover{
  transform: rotate(180deg);
}

.mobile-links{
  margin-top: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  
}

.mobile-links li{
  transition: all 0.3s ease-in-out;
}

.mobile-links li:hover{
  font-size: 1.4rem;
}

@media screen and (max-width:800px){
  .mobile-nav{
    display: contents !important;
  }
  .nav-links{
    display: none !important;
  }
}


/* about us */
.about-container{
  display: flex;
  align-items: center;
  gap: 10rem;
  padding: 8rem 4rem;
}
.about-imgs{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 55%;
}

.col-img1,.col-img2,.col-img3{
  width: 30%;
  height: 100%;
}
.col-img1 img,
.col-img2 img,
.col-img3 img{
  width: 100%;
  height: auto;
}

.about-us{
  width: 30%;
}

.about-us .green-btn{
  margin-top: 2rem;
}

@media screen and (max-width:1100px){
  .about-container{
    flex-direction: column-reverse;
    text-align: center;
  }
  .about-imgs, .about-us{
    width: 100%;
  }
}
